extends layout

block content
  h1= title   
  form(id="frmProjectProfile", method="post", action="")
    p
      label(for="ProjectName") Project name
      input(type="text", name="ProjectName", id="ProjectName")
    p
      label(for="Contributor") Contributors
      input(type="text", name="Contributor", id="Contributor")
    p
      label(for="Task") Tasks
      input(type="text", name="Task", id="Task")
    p
      label(for="CreatedBy") Created By
      input(type="text", name="CreatedBy", id="CreatedBy")
    p
      input(type="submit", value="#{buttonText}")

