extends layout

block content
  h1 Mongoose Project Management
  ul
    li
      a(href="/user") User
  h2= projectName
  p Created by : #{createdBy}
  p Tasks : #{tasks}
  p Tasks: !{escape(tasks).replace(/\n/g, '<br/>')}

