h1= title
  p Are you sure you want to permanently delete this task? 
  p The task name is #{taskName}
  form(id="formTaskDelete", method="post", action="")
    input(type="hidden", name="_id", id="_id", value="#{_id}")
    input(type="submit", value="Yes, please delete it!")
